/*----------------
    DEBUG
------------------*/
.debug .container {
    border: 2px dashed blueviolet;
}

.debug .row .col {
    border: 2px dashed lightcoral;
    background-color: rgba(240, 128, 128, 0.2);
    min-height: 200px;
}

/*----------------
    RESET
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/*----------------
    COMMONS
------------------*/
.img-fluid {
    max-width: 100%;
}
li{
    list-style: none;
    padding: 10px 2px;
}
br{
 margin-bottom: 50px;
}
.blu-check{
    color: #0360FE;
}
.list-icon{
    padding-right: 6px;
}
.p-padding{
    padding-top: 20px;
    padding-bottom: 20px;
}
/*----------------
    LAYOUT
------------------*/
.container-large {
   
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 20px;
    padding-right: 20px; */
}
.container-small{
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;

}

.row {
    display: flex;
}

.gap-10 {
    gap: 10px;
}
.gap-20 {
    gap: 20px;
}
.gap-30 {
    gap: 30px;
}

.col {
    flex-grow: 1;
}

/*----------------
    TYPOGRAPHY
------------------*/
body {
    font-family: "Open Sans", sans-serif;
}
.big-title{
    font-size: 50px;
    margin-top: 60px;
    text-align: left;
}
h2{
    font-size: 30px;
}

/*----------------
    BUTTONS
------------------*/
.btn {
    background-color: transparent;
    font-family: inherit;
    border: none;
    padding: 6px 12px;
    cursor: pointer;
}

.btn-large {
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color:#0360FE;
    color: #fff;
}
.btn-blu{
   background-color: #0360FE; 
   color: #fff;
   border: none;
   padding: 6px 12px;
}
.btn-position{
    position: absolute;
    top: 20px;
    right: 2px;
}
.btn-trasp{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}

/*----------------
    HEADER
------------------*/
.header-banner{
    display: flex;
    background-color: rgb(255, 255, 255);
    padding: 16px 0px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    position: sticky;
    top: 0;
    z-index: 999;
} 
.left-banner{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 20px;
}

.header-banner  a{
    text-decoration: none;
    color: black;
}
.right-banner{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

/*----------------
    MAIN
------------------*/
.hero{
    width: 100%;
    background-color: #B3CFE6;
    padding: 30px 0px;
    
}
.col-small-hero{
    width: 40%;
    margin-top: 20px;
}
.text-hero{
   
    text-align: left;
    font-size: 16px;
}
.col-small-hero .btn-blu{
    margin-top: 15px;
    margin-bottom: 15px;
}
.arrow-hero{
    margin-top: 25px;
    font-size: 45px;
    text-align: left;
}
.col-big-hero{
    width: 60%;
    margin-top: 15px ;
}
.hero-block{
    display: flex;
    margin-top:10px;
    position: relative;
    bottom: -75px;
}
.empty-sect{
    padding-bottom: 100px;
}
.fatturazione{
    display: flex;
 gap: 6px;
 padding-bottom: 30px;
    

}

/*----------------
  SECTION 1 MAIN
------------------*/
.col-3{
    
    width: calc(100% / 3);
    padding-top: 40px;

}
.list-buisness{
    
    border: 1px solid black;
    padding: 14px 14px;

}
.utente{
    text-align: center;
    padding-bottom: 10px;
   
}
.info-col{
    padding-top: 20px;
    padding-bottom: 40px;
    position: relative;
}
.info-col li{
    padding: 20px;
}
.space-bt{
    padding-bottom: 20px;
    padding-top: 40px;
}

.final-part{
    padding-bottom: 40px;
}
.invoce{
    display: flex;
    padding-bottom: 30px;
}
/*----------------
  SECTION 2 MAIN
------------------*/
.sect-2{
    display: flex;
}
.col-4{
    width: 60%;
}
.col-4-small{
    width: 40%;
    align-content:center ;
    padding: 40px;
   
}

/*----------------
    FOOTER
------------------*/
